@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.cdnfonts.com/css/poppins");
@import url("https://fonts.googleapis.com/css2?family=Bitter:wght@400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap");

// $title-font: "Bitter", serif;
$title-font: "Roboto", sans-serif;
// $text-font: "Poppins", sans-serif;
$text-font: "Roboto", sans-serif;

html,
body {
  box-sizing: border-box;
  background-color: $primary;
  color: #fff;
  font-family: $text-font;
  font-size: 16px;
  font-weight: 500;
  // scroll-behavior: smooth;
}

a,
button {
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
}

section {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.section-dark {
  background: $secondary;
}

h1 {
  font-family: $title-font;
  font-weight: 500;
  font-size: 80px;
  @media screen and (max-width: 1200px) {
    font-size: calc(12px + 5vw);
  }
}

h2 {
  font-family: $title-font;
  font-weight: 500;
  font-size: 40px;
  @media screen and (max-width: 1200px) {
    font-size: calc(12px + 3vw);
  }
}

h3 {
  font-family: $title-font;
  font-weight: 500;
  font-size: 25px;
}

// Scroll Bar
/* Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: $orange $primary;
}

/* Chrome, Edge and Safari */
*::-webkit-scrollbar {
  width: 10px;
  width: 10px;
}
*::-webkit-scrollbar-track {
  border-radius: 5px;
  background-color: $primary;
}

*::-webkit-scrollbar-track:hover {
  background-color: $primary;
}

*::-webkit-scrollbar-track:active {
  background-color: $primary;
}

*::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background-color: $orange;
}

*::-webkit-scrollbar-thumb:hover {
  background-color: $orange;
}

*::-webkit-scrollbar-thumb:active {
  background-color: $orange;
}

._container {
  width: 1150px;
  padding: 0 25px;
  @media screen and (max-width: 1200px) {
    width: 100%;
  }
}

.page {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
}

button.enroll {
  // background-color: $orange;
  border: 2px solid $orange;
  border-radius: 100px;
  color: $white;
  padding: 10px 30px;
  text-transform: capitalize;
  font-weight: 500;
  &.nav__enroll {
    padding: 8px 14px;
  }
  transition: all 0.15s;
  &:hover {
    background-color: $orange-dark;
    -webkit-box-shadow: 0px 0px 20px 8px rgba(242, 212, 160, 0.37);
    -moz-box-shadow: 0px 0px 20px 8px rgba(242, 212, 160, 0.37);
    box-shadow: 0px 0px 20px 8px rgba(242, 212, 160, 0.37);
  }
  &:disabled {
    cursor: not-allowed;
    border-color: rgb(54, 54, 54);
    &:hover {
      background: none;
      box-shadow: none;
    }
  }
  @media screen and (max-width: 500px) {
    // padding: 5px 8px;
  }

}
